*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
}

.center-column{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

.stack-sm{
    margin-top:2rem;
}